[output_pin beeper]
pin: PF6
pwm: true
value: 0
shutdown_value: 0
cycle_time: 0.001

[gcode_macro M300]
description: Основной сигнал. Использование: M300 [P<длительность>] [S<частота>]
gcode:
    {% set S = params.S|default(1000)|int %}
    {% set P = params.P|default(100)|int %}
    # Если частота S больше 0, рассчитываем цикл, иначе ставим 1
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro BEEP_SUCCESS]
description: Мелодия завершения (нарастающий звук)
gcode:
    SET_PIN PIN=beeper VALUE=0.2 CYCLE_TIME={1.0/800}
    G4 P100
    SET_PIN PIN=beeper VALUE=0.4 CYCLE_TIME={1.0/1000}
    G4 P100
    SET_PIN PIN=beeper VALUE=0.6 CYCLE_TIME={1.0/1200}
    G4 P100
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={1.0/1500}
    G4 P100
    SET_PIN PIN=beeper VALUE=0
