[gcode_macro MESH_CALIBRATE_MANUAL]
description: Ручной запуск калибровки стола
gcode:
    # 1. Проверка Home
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    
    # 2. Очистка старой сетки
    BED_MESH_CLEAR
    
    # 3. Сама калибровка
    BED_MESH_CALIBRATE
    
    # 4. Возврат в центр и сохранение
    G1 X150 Y150 Z10 F3000
    SAVE_CONFIG