# две строки для датчика филамента
[pause_resume]
[display_status]

[include mainsail.cfg]
[include beep.cfg]
[include START_PRINT.cfg] # стартовый код печати
[include END_PRINT.cfg]   # завершающий скрипт печати

[include MESH_CALIBRATE_MANUAL.cfg]   #  РУЧНАЯ КАЛИБРОВКА СТОЛА СКРИПТ

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_360011000D51313339373836-if00

# [include generic-bigtreetech-manta-m8p-V2_0.cfg]
[include printer_moy.cfg]

[force_move]
enable_force_move: True   # включает возможность двигать ось z одновременно в ручном режиме

[include shell_command.cfg]


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

 #  ДАТЧИК ДВИЖЕНИЯ ФИЛОМЕНТА
    
[filament_switch_sensor switch_sensor]
switch_pin: ^PF4
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^PF3
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

  ####################################################

 # Вентилятор мотора z

  #########################################################################################################################
[temperature_fan Fan_Z_motor]
pin: PA6
hardware_pwm: True
cycle_time: 0.00004
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 110
target_temp: 35.0
control: pid
pid_Kp: 2.0
pid_Ki: 0.2
pid_Kd: 0.5
min_speed: 0       # Важно: ставим 0, чтобы он мог выключаться
max_speed: 1.0


[delayed_gcode set_fan_at_boot]
initial_duration: 1.0
gcode:
    # Принудительно выключаем вентилятор при загрузке
    SET_TEMPERATURE_FAN_TARGET FAN=Fan_Z_motor TARGET=60 MIN_SPEED=0


#############################################################################################################################
[delayed_gcode check_z_motor_temp]     # сигнал зумера при перегреве мотора
initial_duration: 5.0
gcode:
    {% set current_temp = printer["temperature_fan Fan_Z_motor"].temperature %}
    
    {% if current_temp >= 70.0 %}
        # Издаем звук 0.4 сек (используем твой макрос M300)
        M300 P400 S1500
        # Выводим сообщение в консоль
        M117 ПЕРЕГРЕВ Z: {current_temp}C
        # Перезапускаем этот же блок через 0.8 сек (0.4 звук + 0.4 пауза)
        UPDATE_DELAYED_GCODE ID=check_z_motor_temp DURATION=0.8
    {% else %}
        # Если всё остыло, проверяем просто раз в 5 секунд
        UPDATE_DELAYED_GCODE ID=check_z_motor_temp DURATION=5
    {% endif %}

#################################################################################################################################################

  # FILAMENT SENSOR    # Оюычная кнопка не исп.

########################################
#[filament_switch_sensor filament_sensor]
#switch_pin: ^PF1
#pause_on_runout: False

########################################



