

########################################
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

########################################

# X (M3)

########################################
[stepper_x]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PF2
position_endstop: 0
position_max: 420
homing_speed: 50

########################################

# Y (M5)

########################################
[stepper_y]
step_pin: PC7 #PG13
dir_pin: PC8 #PG12
enable_pin: !PD2 #PG15   #  часто меняю
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PF0
position_min: -15
position_endstop:-12
position_max: 440
homing_speed: 50
homing_retract_dist: 10


[tmc5160 stepper_y]
cs_pin: PC6   #PG14
# Настройки программного SPI (Software SPI)
spi_software_sclk_pin: PG8
spi_software_miso_pin: PG7
spi_software_mosi_pin: PG6

run_current: 1.1
sense_resistor: 0.075
interpolate: False
stealthchop_threshold: 0
# Добавляем расширенные настройки инициализации:
driver_diss2vs: 1
driver_diss2g: 1
driver_pwm_autoscale: True
driver_pwm_autograd: True


########################################

# Z (M1 + M2)

########################################
[stepper_z]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 450

[stepper_z1]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 8

[safe_z_home]
# Nozzle position of Z endstop switch
home_xy_position: 389.5, 436.5
speed: 200
z_hop: 15
z_hop_speed: 8.0

########################################

# EXTRUDER (M4)

########################################
[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 7.5
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PB5
interpolate : 1
run_current : 0.8
hold_current : 0.4
sense_resistor : 0.110
driver_sgthrs : 10
stealthchop_threshold : 0

########################################

# BED

########################################
[heater_bed]
heater_pin: PF5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 120

########################################

# PROBE

########################################
[probe]
pin: ^PD12
x_offset: 0
y_offset: 0
z_offset: 0
speed: 5
samples: 2

########################################

# FILAMENT SENSOR

########################################
[filament_switch_sensor filament_sensor]
switch_pin: ^PF1
pause_on_runout: False

########################################

# FANS

########################################
[fan]
pin: PF7

[heater_fan hotend_fan]
pin: PF9
heater: extruder
heater_temp: 50.0

########################################

# BUZZER

########################################
[output_pin buzzer]
pin: !PD15
value: 0
shutdown_value: 0

########################################

# TMC2209

########################################
[tmc2209 stepper_x]
uart_pin: PB9
interpolate : 1
sense_resistor : 0.110
driver_sgthrs : 100
sense_resistor : 0.110
run_current : 1.4
hold_current : 0.7
stealthchop_threshold : 99999




[tmc2209 stepper_z]
uart_pin: PC13
interpolate : 1
run_current : 1.5
hold_current : 1.0
sense_resistor : 0.110
driver_sgthrs : 100
stealthchop_threshold : 99999


[tmc2209 stepper_z1]
uart_pin: PE3
interpolate : 1
run_current : 1.5
hold_current : 1.0
sense_resistor : 0.110
driver_sgthrs : 100
stealthchop_threshold : 99999




########################################

# LIS2DW (СТОЛ)

########################################
[lis2dw bed]
cs_pin: PD13
spi_bus: spi3a
axes_map: x,y,z

########################################

# LIS2DW (ГОЛОВА)

########################################
[lis2dw hotend]
cs_pin: PA15
spi_bus: spi3a
axes_map: x,y,z



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>