[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_360011000D51313339373836-if00

# [include generic-bigtreetech-manta-m8p-V2_0.cfg]
[include printer_moy.cfg]

#1111
